<p>Hey {{ name }},</p>
<p>Please click to link below to get document</p>
<p>
    <a href="{{ url }}">Download here</a>
</p>
<p>Please save to signature below to verify contract</p>
<p>Signature Degital: {{ sign }}</p>

<p>If you did not request this email you can safely ignore it.</p>
